body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #1e1f24;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cabecera{
    height: 100%;
    background: rgb(54, 135, 138);
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

.cabecera .img-logo{
    height: 44px;
    width: 46px;
    padding-left: 0.5em;
    vertical-align: middle;
}

#tutoblog{
    vertical-align: middle;
    padding-left: 0.5em;
    font-weight: bold;
    font-size: 24px;
}

#spanline{   
    vertical-align: middle;
    font-weight: normal;
    font-size: 15px;
    padding: 0 0 0 1em;
}

.contenedor{
    background-color: white;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
}

.post{
    font-size: 22px;
}

.container h1{
    font-size: 20px;
}

.footer{
    color: white;
    background: #777;
    text-align: center;
    padding: 0.4em;
}